# IntelliJ IDEA
.idea
!/.idea/copyright
*.iml

# Gradle
.gradle
build
/reports

# Android
local.properties

# iOS / XCode
*.xcworkspace
xcuserdata

# Cocoapods
Pods

# Paparazzi
redwood-layout-composeui/out/failures
redwood-layout-view/out/failures
