# IntelliJ IDEA
/.idea
!/.idea/copyright
*.iml

# Gradle
/.gradle
build
/reports

# Gradle (nested build)
/redwood/.gradle

# Android
local.properties

# iOS / XCode
*.xcworkspace
xcuserdata

# Cocoapods
Pods
