name: todo

on:
  push:
    branches:
      - trunk

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      # Note: Intentionally omitting the git submodule checkout

      - uses: alstr/todo-to-issue-action@v4.7
        id: todo
        with:
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
          AUTO_P: false
